.animation{
    width: 100% !important;
    height: 100vh !important;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}
.show{
   visibility: visible;
}
.viue{
    visibility: hidden;
}